<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              fontFamily: { inter: ["Poppins", "sans-serif"] },
              colors: {
                c: "",
              },
            },
          },
        };
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>basket page</title>

</head>
<body data-new-gr-c-s-check-loaded="14.1179.0" data-gr-ext-installed="" class="style-0">
    <div class="style-1">
        <div class="style-2" role="region"></div>
        <div aria-hidden="false" class="style-3">
            <header class="style-4">
                <div class="style-5"><a class="style-6" href="#navigation">Jump to nav</a><a class="style-7" href="#main">Jump to content</a></div>
                <div class="style-8">
                    <div class="style-9">
                        <div class="style-10">
                            <div class="style-11">
                                <div class="style-12"></div>
                            </div>
                            <div class="style-13" data-testid="announcement-slides-desktop">
                                <div class="style-14" data-testid="announcement-slides-view-desktop">
                                    <div class="style-15" dir="ltr">
                                        <button class="style-16">
                                            <svg class="style-17">
                                                <use href="/themes/icons/sprites.svg?cb=1717687835923#angle_left" class="style-18"></use>
                                            </svg>
                                        </button>
                                        <div class="style-19">
                                            <div class="style-20">
                                                <div data-index="0" class="style-21" tabindex="-1" aria-hidden="true">
                                                    <div class="style-22">
                                                        <div class="style-23" tabindex="-1">
                                                            <div class="style-24">
                                                                <div class="style-25">
                                                                    <div class="style-26">
                                                                        <div class="style-27">Up to 3 FREE GIFTS with spend!</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-index="1" class="style-28" tabindex="-1" aria-hidden="true">
                                                    <div class="style-29">
                                                        <div class="style-30" tabindex="-1">
                                                            <div class="style-31">
                                                                <div class="style-32">
                                                                    <div class="style-33">
                                                                        <div class="style-34">The Makeup Artist’s Bundle ONLY $49 (Value: $200+) - <a class="style-35" href="/en-us/makeup-artist-bundle">SHOP NOW</a></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                               
                                                <div data-index="3" class="style-44" tabindex="-1" aria-hidden="true">
                                                    <div class="style-45">
                                                        <div class="style-46" tabindex="-1">
                                                            <div class="style-47">
                                                                <div class="style-48">
                                                                    <div class="style-49">
                                                                        <div class="style-50">Free shipping on all orders $50+</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-index="4" class="style-51" tabindex="-1" aria-hidden="true">
                                                    <div class="style-52">
                                                        <div class="style-53" tabindex="-1">
                                                            <div class="style-54">
                                                                <div class="style-55">
                                                                    <div class="style-56">
                                                                        <div class="style-57">Shop via text with <a class="style-58" target="_blank" href="https://go.textual.com/register/the-cosmetics-company-store?list=consumer&amp;hfalias=cust-a&amp;utm_source=ELC&amp;utm_medium=ecommerce">Text to Buy</a></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="style-59">
                                            <svg class="style-60">
                                                <use href="/themes/icons/sprites.svg?cb=1717687835923#angle_right" class="style-61"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="style-62">
                                <div class="style-63"></div>
                            </div>
                        </div>
                    </div>


                    <div class="style-65">
                        <div class="style-66">
                            <div class="style-74" data-testid="logo">
                                <a class="style-75" aria-label="Go back to the homepage" name="Go back to the homepage" href="/en-us/">
                                    <div class="style-76">
                                        <div class="style-77">
                                            <img src="https://i.postimg.cc/T3P7GjbD/380546670-685491066943571-728663435577067349-n-removebg-preview.png" class="style-78">
                                        </div>
                                    </div>
                                </a>
                            </div>
                            
                            
                            
                            <div class="search-container">
                                <input type="text" placeholder="Search for products...">
                                <button type="submit">Search</button>
                            </div>

                            <div class="style-67">
                                <div class="style-68">
                                    <a class="style-72" aria-label="MY ACCOUNT" name="MY ACCOUNT" href="/en-us/account/sign-in">
                                        <div class="style-73">MY ACCOUNT</div>
                                    </a>
                                    <a class="style-69" aria-label="My Account" data-testid="account-sign-in-link" name="My Account" href="/en-us/account/sign-in">
                                        <img src="https://i.postimg.cc/7ZRSJdsq/shopping-bag-copy.png" class="style-70">
                                    </a>
                                </div>
                            </div>


                        </div>
                    </div>


            </header>

            
            <main class="style-139">
                <div class="style-140" data-testid="checkout">
              
                    <div class="style-144">
                        <div class="style-145">
                        
                            <table aria-describedby="basket" class="style-163">
                                <thead scope="rowgroup" class="style-164">
                                    <tr class="style-165">
                                        <th class="style-166" scope="col"><button><a style="background-color: #192952; padding:1rem; color:white" href="{{ url_for('add_product_page') }}">Add Product</a></button></th>
                                    </tr>
                                </thead>

                                {% for product in products %}
                                <tbody role="rowgroup" class="style-170">
                                    
                                    <tr class="style-171" data-testid="basket-item" role="row">
                                        
                                        <td class="style-172">
                                            <img src="{{ ('product.image_url_product') }}" alt="Image Didn't load"  style="margin-right: 1rem;"/>
                                            <a class="style-182" aria-label="SURF SPRAY" name="SURF SPRAY" href="/en-us/product/surf-spray/B1N201?sku=cs_B1N201">{{ product.name_product }}</a>

                                            </td>
                                                    <div class="style-175">
                                                        <div class="style-176">
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="style-179">
                                                <div class="style-180">
                                                    
                                                    <div class="style-181">
                                                        
                                                    </div>
                                                    
                                                </div>
                                               
                                                <button   href="" class="style-201">Remove</button>
                                            </div>
                                        </td>
                                        <td class="style-202">
                                            
                                        </td>
                                        <td class="style-205">
                                            <div class="style-206">
                                                <div class=""><button><a href="">Modify Product</a></button></div>
                                        </td>
                                        <td class="style-215">
                                            <div class="style-216"><div class=""><button><a href="/delete_product/{{ product.id }}">Remove Product</a></button></div></div>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </main>

           
            <input name="device-fingerprint" type="hidden" class="style-437" />
        </div>
        <div class="style-438" role="region"></div>
    </div>
    <div class="style-439"></div>
    <div class="style-440">
        <link href="/css/app_b57399ef6087d4d0a304.css" rel="stylesheet" as="style" onload="this.rel='stylesheet'" class="style-441" />
        <link as="style" href="/themes/customProperties.css?v=20240608182324341" rel="stylesheet" class="style-442" />
        <link as="style" href="/themes/styles.css?v=20240608182324342" rel="stylesheet" class="style-443" />
        <link as="style" href="/themes/fonts/fonts.css?v=20240608182324343" rel="stylesheet" class="style-444" />
    </div>
    <iframe src="https://pay.google.com/gp/p/ui/payframe?origin=https%3A%2F%2Fwww.thecosmeticscompanystore.com&amp;mid=" height="0" width="0" allowpaymentrequest="true" class="style-445"></iframe>




</body>

</html>
