{% extends "base.html" %}

{% block title %}Cosmitics products{% endblock %}


{% block extra_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/accessibility.css') }}">
{% endblock %}


{% block content %}
    <div class="style-0">
        <h1 class="style-1" style="margin-bottom: 2rem;">Accessibility Statement :</h1><br/>
        <br/>
        <p class="style-2">The beauty haven store is committed to digital accessibilityother applicable regulations</a>.</p>
        <p class="style-3">To accomplish this, we have partnered with eSSENTIAL Accessibility</a> to administer our accessibility program and oversee its governance. Their accessibility program evaluates our digital products on an ongoing basis in accordance with best practices and is supported by a diverse team of accessibility professionals, including users of assistive technologies. The platform, moreover, goes beyond minimum compliance requirements by making an assistive CX technology application</a> available to customers who have trouble typing, gesturing, moving a mouse, or reading. The application is free to download, and it incorporates tools such as mouse and keyboard replacements, voice recognition, speech enablement, hands-free/touch-free navigation, and more.</p>
        <p class="style-4">We want to hear from you if you encounter any accessibility barriers on our digital properties. Please contact our Customer Support at <br/>
        </p>
        <a class="style-5" style="margin-top: 1rem;" href="mailto:service@Thebeautyhavenstore.com">service@Thebeautyhavenstore.com</a>
    </div>
{% endblock %}