.style-2000 {
    display: block;
    box-sizing: border-box;
}

.style-2001 {
    width: 400px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1456px;
}

.style-2002 {
    padding-top: var(--layoutMedium);
    padding-bottom: var(--layoutLarge);
    padding-bottom: 80px;
    box-sizing: border-box;
    min-width: 0px;
}

.style-2003 {
    box-sizing: border-box;
    min-height: 442.56px;
    position: relative;
}

.style-2004 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: var(--greyLight);
    margin-bottom: var(--layoutSmall);
    padding-bottom: var(--layoutXxs);
    border-bottom-style: solid;
    border-color: rgb(221, 221, 221);
    margin-bottom: 30px;
    padding-bottom: 15px;
    box-sizing: border-box;
    min-width: 0px;
}

.style-2005 {
    font-size: 2.4rem;
    text-align: center;
    text-align: center;
    margin: 0px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
}

.style-2006 {
    display: inline-block;
    box-sizing: border-box;
    margin-top: 40px;
}

.style-2007 {
    box-sizing: border-box;
    font-family: Futura, Arial, sans-serif;
}

.style-2008 {
    box-sizing: border-box;
    margin-bottom: 15px;
}

.style-2009 {
    box-sizing: border-box;
}

.style-2010 {
    box-sizing: border-box;
    position: relative;
}

.style-2011 {
    box-sizing: border-box;
    margin-bottom: 20px;
}

.style-2012 {
    box-sizing: border-box;
}

.style-2013 {
    box-sizing: border-box;
    margin-bottom: 5px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.style-2014 {
    box-sizing: border-box;
    display: block;
    font-weight: 700;
    font-size: 13px;
}

.style-2015 {
    box-sizing: border-box;
}

.style-2016 {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 400px;
}

.style-2017 {
    --padding: 0 20px 0 46px;
    box-sizing: border-box;
    background-color: rgb(248, 248, 248);
    border: 0.8px solid rgb(213, 213, 213);
    border-radius: 0px;
    height: 50px;
    font-size: 14px;
    position: relative;
}

.style-2018 {
    box-sizing: border-box;
    left: 0px;
    padding: 0px 15px;
    font-size: 16px;
    height: 48.4px;
    position: absolute;
    top: 0px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.style-2019 {
    box-sizing: border-box;
    font-weight: 700;
}

.style-2020 {
    fill: currentcolor;
    fill: rgb(33, 33, 33);
    box-sizing: border-box;
    display: block;
}

.style-2021 {
    height: 1em;
    width: 1em;
    box-sizing: border-box;
}

.style-2022 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(33, 33, 33);
    border-radius: 0px;
    color: rgb(33, 33, 33);
    font-family: Futura, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin: 0px;
    padding: 0px 20px 0px 46px;
    appearance: none;
    box-sizing: border-box;
    height: 48.4px;
    width: 100%;
}

.style-2023 {
    box-sizing: border-box;
    margin-bottom: 20px;
}

.style-2024 {
    box-sizing: border-box;
}

.style-2025 {
    box-sizing: border-box;
    margin-bottom: 5px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.style-2026 {
    box-sizing: border-box;
    display: block;
    font-weight: 700;
    font-size: 13px;
}

.style-2027 {
    box-sizing: border-box;
}

.style-2028 {
    --padding: 0 56px 0 46px;
    box-sizing: border-box;
    background-color: rgb(248, 248, 248);
    border: 0.8px solid rgb(213, 213, 213);
    border-radius: 0px;
    height: 50px;
    font-size: 14px;
    position: relative;
}

.style-2029 {
    box-sizing: border-box;
    left: 0px;
    padding: 0px 15px;
    font-size: 16px;
    height: 48.4px;
    position: absolute;
    top: 0px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.style-2030 {
    fill: currentcolor;
    fill: rgb(33, 33, 33);
    box-sizing: border-box;
    display: block;
}

.style-2031 {
    height: 1.4em;
    width: 1.4em;
    box-sizing: border-box;
}

.style-2032 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(33, 33, 33);
    border-radius: 0px;
    color: rgb(33, 33, 33);
    font-family: Futura, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin: 0px;
    padding: 0px 56px 0px 46px;
    appearance: none;
    box-sizing: border-box;
    height: 48.4px;
    width: 100%;
}

.style-2033 {
    box-sizing: border-box;
    right: 0px;
    padding: 0px 20px;
    font-size: 16px;
    height: 48.4px;
    position: absolute;
    top: 0px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.style-2034 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(33, 33, 33);
    color: rgb(33, 33, 33);
    cursor: pointer;
    font-family: Futura, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 25.6px;
    outline: rgb(33, 33, 33) none 0px;
    padding: 0px;
    text-transform: none;
    box-sizing: border-box;
    position: relative;
    transition: all 0.3s ease 0s;
}

.style-2035 {
    padding-top: 4px;
    fill: currentcolor;
    fill: rgb(33, 33, 33);
    box-sizing: border-box;
    display: block;
}

.style-2036 {
    width: 1.4em;
    box-sizing: border-box;
}

.style-2037 {
    box-sizing: border-box;
    -webkit-box-align: center;
    -webkit-box-pack: end;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 10px 0px 30px;
}

.style-2038 {
    text-decoration: underline solid rgb(118, 118, 118);
    background-color: rgba(0, 0, 0, 0);
    color: rgb(118, 118, 118);
    cursor: pointer;
    box-sizing: border-box;
    font-size: 12px;
}

.style-2039 {
    display: initial;
    box-sizing: border-box;
    margin-top: 30px;
}

.style-2040 {
    background-color: rgb(25, 41, 82);
    color: rgb(255, 255, 255);
    font-weight: 400;
    transition: all 0.2s ease 0s;
    border: 0.8px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    font-family: Futura, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 25.6px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 10px 0px;
    text-transform: none;
    box-sizing: border-box;
    width: 100%;
    min-height: 45px;
    padding-bottom: 10px;
    padding-top: 10px;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    max-width: 100%;
    pointer-events: all;
    text-align: center;
}

.style-2041 {
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: 30px;
}

.style-2042 {
    margin-bottom: var(--layoutXs);
    box-sizing: border-box;
    min-width: 0px;
}

.style-2043 {
    text-align: center;
    box-sizing: border-box;
}

.style-2044 {
    box-sizing: border-box;
    max-width: 100%;
    width: 450px;
    margin-top: 20px;
}

.style-2045 {
    text-decoration: none solid rgb(33, 33, 33);
    background-color: rgba(0, 0, 0, 0);
    color: rgb(33, 33, 33);
    cursor: pointer;
    box-sizing: border-box;
    display: block;
}

.style-2046 {
    background-color: rgb(255, 255, 255);
    border-color: rgb(118, 118, 118);
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    width: 100%;
    min-height: 45px;
    padding-bottom: 10px;
    padding-top: 10px;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    border: 0.8px solid rgb(118, 118, 118);
    display: inline-flex;
    justify-content: center;
    max-width: 100%;
    pointer-events: all;
    text-align: center;
}
