/* main Styles */
        
.style-511 {
    display: inline-block;
    box-sizing: border-box;
}

.style-512 {
    box-sizing: border-box;
}

.style-513 {
    box-sizing: border-box;
    min-width: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.style-514 {
    box-sizing: border-box;
    line-height: 16px;
}

.style-515 {
    margin-left: 0px;
    box-sizing: border-box;
}

.style-516 {
    box-sizing: border-box;
    line-height: 22.4px;
    margin-bottom: 12px;
    min-width: 0px;
}

.style-517 {
    text-align: inherit;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(33, 33, 33);
    color: rgb(33, 33, 33);
    cursor: pointer;
    font-family: Futura, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 22.4px;
    outline: rgb(33, 33, 33) none 0px;
    padding: 0px;
    text-transform: none;
    box-sizing: border-box;
}

.style-518 {
    box-sizing: border-box;
}

.style-519 {
    margin-left: 0px;
    box-sizing: border-box;
}

.style-520 {
    box-sizing: border-box;
    line-height: 22.4px;
    margin-bottom: 12px;
    min-width: 0px;
}

.style-521 {
    text-align: inherit;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(33, 33, 33);
    color: rgb(33, 33, 33);
    cursor: pointer;
    font-family: Futura, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 22.4px;
    outline: rgb(33, 33, 33) none 0px;
    padding: 0px;
    text-transform: none;
    box-sizing: border-box;
}

.style-522 {
    box-sizing: border-box;
}

.style-523 {
    box-sizing: border-box;
    min-width: 0px;
    margin-bottom: 30px;
}

.style-524 {
    border-bottom: 1px solid rgb(221, 221, 221);
    background-color: white;
    border-top-color: rgb(221, 221, 221);
    border-right-color: rgb(221, 221, 221);
    border-left-color: rgb(221, 221, 221);
    background-color: rgb(255, 255, 255);
    border-top-color: rgb(221, 221, 221);
    border-right-color: rgb(221, 221, 221);
    border-left-color: rgb(221, 221, 221);
    box-sizing: border-box;
    min-width: 0px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.style-525 {
    font-size: 1.7rem;
    font-weight: 500;
    font-weight: 500;
    margin: 0px;
    box-sizing: border-box;
}

.style-526 {
    display: inline-block;
    box-sizing: border-box;
}

.style-527 {
    box-sizing: border-box;
}

.style-528 {
    box-sizing: border-box;
}

.style-529 {
    box-sizing: border-box;
    border-bottom: 0.8px solid rgb(221, 221, 221);
}

.style-530 {
    box-sizing: border-box;
    position: relative;
    min-width: 0px;
}

.style-531 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0.8px solid rgba(0, 0, 0, 0);
    color: rgb(33, 33, 33);
    cursor: pointer;
    font-family: Futura, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 25.6px;
    outline: rgb(33, 33, 33) none 0px;
    padding: 20px 0px;
    text-transform: none;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
    max-width: 100%;
    pointer-events: all;
    text-align: center;
}

.style-532 {
    box-sizing: border-box;
    -webkit-box-align: baseline;
    align-items: baseline;
    display: flex;
}

.style-533 {
    margin: 0px 10px 0px 0px;
    box-sizing: border-box;
    margin-right: 10px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 19.5px;
}

.style-534 {
    display: inline-block;
    box-sizing: border-box;
}

.style-535 {
    box-sizing: border-box;
    font-family: Futura, Arial, sans-serif;
}

.style-536 {
    height: 1.4rem;
    width: 1.4rem;
    fill: currentcolor;
    width: 1.4rem;
    fill: rgb(33, 33, 33);
    box-sizing: border-box;
}

.style-537 {
    box-sizing: border-box;
    width: 15px;
    height: 15px;
}

.style-538 {
    display: block;
}

.style-539 {
    box-sizing: border-box;
}

.style-540 {
    box-sizing: border-box;
}

.style-541 {
    box-sizing: border-box;
}

.style-542 {
    box-sizing: border-box;
    margin-bottom: 5px;
}

.style-543 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(33, 33, 33);
    color: rgb(33, 33, 33);
    cursor: pointer;
    font-family: Futura, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 20.8px;
    outline: rgb(33, 33, 33) none 0px;
    padding: 0px;
    text-transform: none;
    box-sizing: border-box;
    margin-bottom: 10px;
    text-align: left;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.style-544 {
    box-sizing: border-box;
    margin-bottom: 5px;
}

.style-545 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(33, 33, 33);
    color: rgb(33, 33, 33);
    cursor: pointer;
    font-family: Futura, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 20.8px;
    outline: rgb(33, 33, 33) none 0px;
    padding: 0px;
    text-transform: none;
    box-sizing: border-box;
    margin-bottom: 10px;
    text-align: left;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.style-546 {
    box-sizing: border-box;
    border-bottom: 0.8px solid rgb(221, 221, 221);
}

.style-547 {
    box-sizing: border-box;
    position: relative;
    min-width: 0px;
}

.style-548 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0.8px solid rgba(0, 0, 0, 0);
    color: rgb(33, 33, 33);
    cursor: pointer;
    font-family: Futura, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 25.6px;
    outline: rgb(33, 33, 33) none 0px;
    padding: 20px 0px;
    text-transform: none;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
    max-width: 100%;
    pointer-events: all;
    text-align: center;
}

.style-549 {
    box-sizing: border-box;
    -webkit-box-align: baseline;
    align-items: baseline;
    display: flex;
}

.style-550 {
    margin: 0px 10px 0px 0px;
    box-sizing: border-box;
    margin-right: 10px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 19.5px;
}

.style-551 {
    display: inline-block;
    box-sizing: border-box;
}

.style-552 {
    box-sizing: border-box;
    font-family: Futura, Arial, sans-serif;
}

.style-553 {
    height: 1.4rem;
    width: 1.4rem;
    fill: currentcolor;
    width: 1.4rem;
    fill: rgb(33, 33, 33);
    box-sizing: border-box;
}

.style-554 {
    box-sizing: border-box;
    width: 15px;
    height: 15px;
}

.style-555 {
    display: block;
}

.style-556 {
    box-sizing: border-box;
}

.style-557 {
    box-sizing: border-box;
    width: 100%;
}

.style-558 {
    box-sizing: border-box;
    padding-top: 10px;
    text-align: center;
}

.style-559 {
    box-sizing: border-box;
    -webkit-box-pack: justify;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
}

.style-560 {
    box-sizing: border-box;
}

.style-561 {
    box-sizing: border-box;
    margin-bottom: 5px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.style-562 {
    box-sizing: border-box;
    font-size: 13px;
    display: block;
    font-weight: 700;
}

.style-563 {
    box-sizing: border-box;
}

.style-564 {
    --padding: 0 10px 0 28.17500114440918px;
    box-sizing: border-box;
    height: 30px;
    background-color: rgb(248, 248, 248);
    border: 0.8px solid rgb(213, 213, 213);
    border-radius: 0px;
    font-size: 14px;
    position: relative;
}

.style-565 {
    box-sizing: border-box;
    left: 0px;
    padding: 0px 10px;
    font-size: 13px;
    height: 28.4px;
    position: absolute;
    top: 0px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.style-566 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(33, 33, 33);
    border-radius: 0px;
    color: rgb(33, 33, 33);
    font-family: Futura, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin: 0px;
    padding: 0px 10px 0px 28.175px;
    appearance: none;
    box-sizing: border-box;
    height: 28.4px;
    width: 100%;
}

.style-567 {
    box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: end;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    justify-content: flex-end;
    line-height: 18px;
    padding: 7px;
}

.style-568 {
    box-sizing: border-box;
}

.style-569 {
    box-sizing: border-box;
    margin-bottom: 5px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.style-570 {
    box-sizing: border-box;
    font-size: 13px;
    display: block;
    font-weight: 700;
}

.style-571 {
    box-sizing: border-box;
}

.style-572 {
    --padding: 0 10px 0 28.17500114440918px;
    box-sizing: border-box;
    height: 30px;
    background-color: rgb(248, 248, 248);
    border: 0.8px solid rgb(213, 213, 213);
    border-radius: 0px;
    font-size: 14px;
    position: relative;
}

.style-573 {
    box-sizing: border-box;
    left: 0px;
    padding: 0px 10px;
    font-size: 13px;
    height: 28.4px;
    position: absolute;
    top: 0px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.style-574 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(33, 33, 33);
    border-radius: 0px;
    color: rgb(33, 33, 33);
    font-family: Futura, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin: 0px;
    padding: 0px 10px 0px 28.175px;
    appearance: none;
    box-sizing: border-box;
    height: 28.4px;
    width: 100%;
}
.style-575 {
    background-color: rgb(25, 41, 82);
    color: rgb(255, 255, 255);
    font-weight: 400;
    transition: all 0.2s ease 0s;
    border: 0.8px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    font-family: Futura, Arial, sans-serif;
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 20.8px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 5px 20px;
    text-transform: none;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 35px;
    padding-bottom: 5px;
    padding-top: 5px;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    max-width: 100%;
    pointer-events: all;
    text-align: center;
    margin-bottom: 20px;
}

.style-581 {
    margin-bottom: var(--layoutXxs);
    box-sizing: border-box;
    min-width: 0px;
}

.style-582 {
    justify-content: space-between;
    box-sizing: border-box;
    display: flex;
}

.style-583 {
    box-sizing: border-box;
    margin-right: 0px;
    min-width: 0px;
    min-height: 38px;
    white-space: nowrap;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.style-584 {
    box-sizing: border-box;
    position: relative;
    min-width: 0px;
}

.style-585 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0.8px solid rgba(0, 0, 0, 0);
    color: rgb(33, 33, 33);
    cursor: pointer;
    font-family: Futura, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 25.6px;
    outline: rgb(33, 33, 33) none 0px;
    padding: 0px 10px;
    text-transform: none;
    box-sizing: border-box;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    max-width: 100%;
    pointer-events: all;
    text-align: center;
}

.style-586 {
    box-sizing: border-box;
    -webkit-box-align: baseline;
    align-items: baseline;
    display: flex;
}

.style-587 {
    margin: 0px 10px 0px 0px;
    box-sizing: border-box;
    margin-right: 10px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 23.4px;
}

.style-588 {
    display: inline-block;
    box-sizing: border-box;
}

.style-589 {
    box-sizing: border-box;
    font-family: Futura, Arial, sans-serif;
}

.style-hair-title {
    fill: currentcolor;
    fill: rgb(33, 33, 33);
    box-sizing: border-box;
}

.style-591 {
    height: 1.6rem;
    width: 1.6rem;
    box-sizing: border-box;
    margin-top: 6px;
}
.dropdown-options {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
}
.dropdown-options div {
    margin: 5px 0;
    cursor: pointer;
    padding: 5px;
}

.style-505 {
    box-sizing: border-box;
    min-width: 0px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1456px;
}

.style-506 {
    grid-template-columns: 230px 2fr;
    gap: 30px;
    box-sizing: border-box;
    display: grid;
}

.style-507 {
    box-sizing: border-box;
    min-width: 0px;
}

.style-508 {
    box-sizing: border-box;
    min-width: 0px;
    margin-bottom: 30px;
}

.style-509 {
    border-bottom: 1px solid rgb(221, 221, 221);
    background-color: white;
    border-top-color: rgb(221, 221, 221);
    border-right-color: rgb(221, 221, 221);
    border-left-color: rgb(221, 221, 221);
    box-sizing: border-box;
    min-width: 0px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center; 
}
.style-510 {
    font-size: 1.7rem;
    font-weight: 500;
    margin: 0px;
    box-sizing: border-box;
}
.style-hair {
    border-bottom: 1px solid rgb(221, 221, 221);
    background-color: white;
    border-top-color: rgb(221, 221, 221);
    border-right-color: rgb(221, 221, 221);
    border-left-color: rgb(221, 221, 221);
    box-sizing: border-box;
    min-width: 0px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center; 
}
.style-hair-second {
    border-bottom: 1px solid rgb(221, 221, 221);
    background-color: white;
    border-top-color: rgb(221, 221, 221);
    border-right-color: rgb(221, 221, 221);
    border-left-color: rgb(221, 221, 221);
    box-sizing: border-box;
    min-width: 0px;
    padding-bottom: 15px;
    padding-top: 15px;
}
.style-hair-title2 {
    font-size: 1.7rem;
    font-weight: 500;
    margin: 0px;
    box-sizing: border-box;
}


@media (max-width: 992px) {
.style-505 {
width: 100%;
padding: 0 20px;
}

.style-506 {
display: block;
}

.button-container {
display: flex;
justify-content: space-between;
margin: 10px 0;
}

.button-container button {
flex: 1;
margin: 0 5px;
padding: 10px;
cursor: pointer;
border: none;
background-color: #f0f0f0;
}

.sidebar-popup, .filter-popup {
display: none;
position: fixed;
top: 0;
bottom: 0;
width: 300px;
background-color: white;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
padding: 20px;
overflow-y: auto;
z-index: 1000;
}

.sidebar-popup {
left: 0;
}

.filter-popup {
right: 0;
}

.popup-visible {
display: block;
}
.style-hair-second {
display: none;
}
}
.style-603 {
    box-sizing: border-box;
    min-width: 0px;
    margin-bottom: 30px;
}

.style-604 {
    box-sizing: border-box;
}

.style-605 {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    gap: 20px;
    box-sizing: border-box;
    display: grid;
}

.style-606 {
    box-sizing: border-box;
    min-width: 0px;
}

.style-607 {
    box-sizing: border-box;
}

.style-608 {
    text-align: left;
    box-sizing: border-box;
}

.style-609 {
    box-sizing: border-box;
    position: relative;
}

.style-610 {
    border: 0.8px solid rgb(223, 223, 223);
    text-decoration: none solid rgb(33, 33, 33);
    background-color: rgba(0, 0, 0, 0);
    color: rgb(33, 33, 33);
    cursor: pointer;
    box-sizing: border-box;
    display: block;
}

.style-611 {
    box-sizing: border-box;
}

.style-612 {
    border-radius: 0px;
    box-sizing: border-box;
    position: relative;
}

.style-613 {

    box-sizing: border-box;
    padding-bottom: 18rem;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
}

.style-614 {
    display: block;
    height: auto;
    max-width: 100%;
    box-sizing: border-box;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    position: absolute;
}

.style-615 {
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
    z-index: 1;
}

.style-616 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(33, 33, 33);
    color: rgb(33, 33, 33);
    cursor: pointer;
    font-family: Futura, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 16px;
    outline: rgb(33, 33, 33) none 0px;
    padding: 10px;
    text-transform: none;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    display: block;
}

.style-617 {
    width: 1.6rem;
    box-sizing: border-box;
    position: relative;
}

.style-618 {
    box-sizing: border-box;
    left: 8px;
    position: absolute;
    top: 8px;
    transform: matrix(1, 0, 0, 1, -8, -8);
}

.style-619 {
    box-sizing: border-box;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.style-620 {
    fill: currentcolor;
    fill: rgb(33, 33, 33);
    box-sizing: border-box;
    display: block;
}

.style-621 {
    height: 1.6rem;
    width: 1.6rem;
    box-sizing: border-box;
}
.style-622 {
    padding: 1rem 0px 2rem;
    box-sizing: border-box;
}

.style-623 {
    box-sizing: border-box;
    font-weight: 500;
    min-width: 0px;
}

.style-624 {
    margin: 0px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 23.4px;
}

.style-625 {
    display: inline-block;
    box-sizing: border-box;
}
.style-626 {
    box-sizing: border-box;
    color: rgb(33, 33, 33);
    max-height: 48px;
    position: relative;
    word-break: break-all;
    overflow: hidden;
}

.style-627 {
    box-sizing: border-box;
    margin-bottom: 10px;
}

.style-628 {
    box-sizing: border-box;
    font-size: 13px;
}

.style-629 {
    box-sizing: border-box;
    margin-right: 5px;
    color: rgb(51, 51, 51);
    font-weight: bold;
    color: green;
    font-size: 1.5rem;
    display: inline-block;
}

.style-630 {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    box-sizing: border-box;
}

.style-631 {
    box-sizing: border-box;
    margin-right: 5px;
    color: rgb(224, 0, 0);
    display: inline-block;
}

.style-632 {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    box-sizing: border-box;
}

.style-633 {
    box-sizing: border-box;
    color: rgb(224, 0, 0);
    display: inline-block;
}

.style-634 {
    box-sizing: border-box;
    margin-top: 5px;
    font-size: 13px;
}

.style-635 {
    color: red;
    box-sizing: border-box;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.style-636 {
    box-sizing: border-box;
}
@media (max-width: 1200px) {
    .style-605 {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 992px) {
    .style-605 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .style-605 {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 993px) {
.button-container {
    display: none;
}
.style-509 {
        text-align:left;
}
.style-hair {
    display: none;
}
}
.style-637 {
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: var(--greyLight);
    border-top-style: solid;
    border-color: rgb(221, 221, 221);
    box-sizing: border-box;
    min-width: 0px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.style-638 {
    justify-content: space-between;
    box-sizing: border-box;
    display: flex;
}

.style-639 {
    box-sizing: border-box;
    margin-right: 0px;
    min-width: 0px;
}

.style-640 {
    --gap: 20px;
    align-items: center;
    align-items: center;
    box-sizing: border-box;
    min-width: 0px;
    display: flex;
}

.style-641 {
    box-sizing: border-box;
    white-space: nowrap;
    margin-right: 20px;
    min-width: 0px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    font-size: 13px;
}

.style-642 {
    box-sizing: border-box;
    min-width: 0px;
}

.style-643 {
    box-sizing: border-box;
    min-height: 38px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.style-644 {
    background: rgb(253, 253, 249) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(25, 41, 82);
    color: rgb(25, 41, 82);
    cursor: pointer;
    font-family: Futura, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 25.6px;
    outline: rgb(25, 41, 82) none 0px;
    padding: 0px;
    text-transform: none;
    box-sizing: border-box;
    opacity: 0.2;
    pointer-events: none;
    background-color: rgb(253, 253, 249);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.style-645 {
    fill: currentcolor;
    width: 1em;
    fill: rgb(25, 41, 82);
    box-sizing: border-box;
}

.style-646 {
    height: 1em;
    width: 1em;
    box-sizing: border-box;
}

.style-647 {
    box-sizing: border-box;
    margin: 0px 10px;
    white-space: nowrap;
    font-size: 13px;
}

.style-648 {
    background: rgb(253, 253, 249) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(25, 41, 82);
    color: rgb(25, 41, 82);
    cursor: pointer;
    font-family: Futura, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 25.6px;
    outline: rgb(25, 41, 82) none 0px;
    padding: 0px;
    text-transform: none;
    box-sizing: border-box;
    opacity: 0.2;
    pointer-events: none;
    background-color: rgb(253, 253, 249);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.style-649 {
    fill: currentcolor;
    fill: rgb(25, 41, 82);
    box-sizing: border-box;
}

.style-650 {
    height: 1em;
    width: 1em;
    box-sizing: border-box;
}
@media (max-width: 992px) {
    .style-642 {
        display: none;
    }
    .style-640 {
        justify-content: center;
        width: 100%;
    }
    .style-641 {
        margin-right: 0;
    }
}


/* main Styles */