.style-0 {
    display: grid;
    grid-template-columns: 80%;
    margin-bottom: 5rem;
    justify-content: center;
    line-height: 200%;
}
@media (min-width: 993px) {
    .style-0 {
        box-sizing: border-box;
        min-width: 0px;
        margin-left: 2rem;
        margin-top: 5rem;
    }
}
@media (max-width: 993px) {
    .style-0 {
        box-sizing: border-box;
        min-width: 0px;
        text-align: center;
        margin-top: 2rem;
    }
}
.style-1 {
box-sizing: border-box;
font-size: 13px;
}

.style-2 {
font-weight: 500;
margin: 0px 0px 10px;
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-3 {
margin: 0px 0px 10px;
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-4 {
box-sizing: border-box;
}

.style-5 {
box-sizing: border-box;
}

.style-6 {
box-sizing: border-box;
}

.style-7 {
box-sizing: border-box;
}

.style-8 {
box-sizing: border-box;
}

.style-9 {
box-sizing: border-box;
font-size: 13px;
}

.style-10 {
font-weight: 500;
margin: 0px 0px 10px;
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-11 {
margin: 0px 0px 10px;
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-12 {
box-sizing: border-box;
font-size: 13px;
}

.style-13 {
font-weight: 500;
margin: 0px 0px 10px;
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-14 {
margin: 0px 0px 10px;
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-15 {
box-sizing: border-box;
font-size: 13px;
}

.style-16 {
font-weight: 500;
margin: 0px 0px 10px;
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-17 {
margin: 0px 0px 10px;
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-18 {
box-sizing: border-box;
}

.style-19 {
box-sizing: border-box;
font-size: 13px;
}

.style-20 {
font-weight: 500;
margin: 0px 0px 10px;
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-21 {
margin: 0px 0px 10px;
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-22 {
margin: 0px 0px 10px;
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-23 {
box-sizing: border-box;
}

.style-24 {
box-sizing: border-box;
font-size: 13px;
}

.style-25 {
list-style-type: disc;
margin: 0px 0px 20px;
padding: 0px 0px 0px 30px;
box-sizing: border-box;
margin-bottom: 20px;
padding-left: 30px;
}

.style-26 {
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-27 {
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-28 {
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-29 {
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-30 {
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-31 {
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-32 {
box-sizing: border-box;
font-size: 13px;
}

.style-33 {
margin: 0px 0px 10px;
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-34 {
box-sizing: border-box;
font-size: 13px;
}

.style-35 {
font-weight: 500;
margin: 0px 0px 10px;
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-36 {
margin: 0px 0px 10px;
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-37 {
margin: 0px 0px 10px;
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-38 {
margin: 0px 0px 10px;
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-39 {
margin: 0px 0px 10px;
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-40 {
box-sizing: border-box;
font-size: 13px;
}

.style-41 {
font-weight: 500;
margin: 0px 0px 10px;
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-42 {
margin: 0px 0px 10px;
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-43 {
box-sizing: border-box;
padding-left: 20px;
}

.style-44 {
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-45 {
margin: 0px 0px 10px;
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-46 {
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-47 {
margin: 0px 0px 10px;
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-48 {
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-49 {
margin: 0px 0px 10px;
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-50 {
box-sizing: border-box;
font-size: 13px;
}

.style-51 {
font-weight: 500;
margin: 0px 0px 10px;
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-52 {
margin: 0px 0px 10px;
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-53 {
box-sizing: border-box;
}

.style-54 {
box-sizing: border-box;
font-size: 13px;
}

.style-55 {
font-weight: 500;
margin: 0px 0px 10px;
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-56 {
margin: 0px 0px 10px;
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-57 {
box-sizing: border-box;
font-size: 13px;
}

.style-58 {
font-weight: 500;
margin: 0px 0px 10px;
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-59 {
margin: 0px 0px 10px;
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-60 {
margin: 0px 0px 10px;
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-61 {
box-sizing: border-box;
}

.style-62 {
box-sizing: border-box;
}

.style-63 {
margin: 0px 0px 10px;
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-64 {
text-decoration: underline solid rgb(121, 121, 121);
background-color: rgba(0, 0, 0, 0);
color: rgb(121, 121, 121);
cursor: pointer;
box-sizing: border-box;
font-weight: 400;
}

.style-65 {
box-sizing: border-box;
font-size: 13px;
}

.style-66 {
font-weight: 500;
margin: 0px 0px 10px;
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-67 {
margin: 0px 0px 10px;
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-68 {
text-decoration: underline solid rgb(121, 121, 121);
background-color: rgba(0, 0, 0, 0);
color: rgb(121, 121, 121);
cursor: pointer;
box-sizing: border-box;
font-weight: 400;
}

.style-69 {
box-sizing: border-box;
font-size: 13px;
}

.style-70 {
font-weight: 500;
margin: 0px 0px 10px;
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

.style-71 {
margin: 0px 0px 10px;
box-sizing: border-box;
margin-bottom: 10px;
max-width: 1496px;
}

