.style-0 {
    box-sizing: border-box;
    min-width: 0px;
    margin-bottom: 5rem;
}
@media (min-width: 993px) {
    .style-0 {
        box-sizing: border-box;
        min-width: 0px;
        margin-left: 2rem;
        margin-top: 5rem;
    }
}
@media (max-width: 993px) {
    .style-0 {
        box-sizing: border-box;
        min-width: 0px;
        text-align: center;
        margin-top: 2rem;
    }
}

.style-1 {
        font-weight: 500;
        margin: 0px 0px 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-2 {
        box-sizing: border-box;
        color: rgb(33, 33, 33);
    }

    .style-3 {
        margin: 0px 0px 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-4 {
        margin: 0px 0px 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-5 {
        margin: 0px 0px 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-6 {
        text-decoration: underline solid rgb(121, 121, 121);
        background-color: rgba(0, 0, 0, 0);
        color: rgb(121, 121, 121);
        cursor: pointer;
        box-sizing: border-box;
        font-weight: 400;
    }

    .style-7 {
        margin: 0px 0px 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-8 {
        font-weight: 500;
        margin: 0px 0px 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-9 {
        box-sizing: border-box;
        color: rgb(33, 33, 33);
    }

    .style-10 {
        list-style-type: disc;
        margin: 0px 0px 20px;
        padding: 0px 0px 0px 30px;
        box-sizing: border-box;
        margin-bottom: 20px;
        padding-left: 30px;
    }

    .style-11 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-12 {
        text-decoration: underline solid rgb(121, 121, 121);
        background-color: rgba(0, 0, 0, 0);
        color: rgb(121, 121, 121);
        cursor: pointer;
        box-sizing: border-box;
        font-weight: 400;
    }

    .style-13 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-14 {
        text-decoration: underline solid rgb(121, 121, 121);
        background-color: rgba(0, 0, 0, 0);
        color: rgb(121, 121, 121);
        cursor: pointer;
        box-sizing: border-box;
        font-weight: 400;
    }

    .style-15 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-16 {
        text-decoration: underline solid rgb(121, 121, 121);
        background-color: rgba(0, 0, 0, 0);
        color: rgb(121, 121, 121);
        cursor: pointer;
        box-sizing: border-box;
        font-weight: 400;
    }

    .style-17 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-18 {
        text-decoration: underline solid rgb(121, 121, 121);
        background-color: rgba(0, 0, 0, 0);
        color: rgb(121, 121, 121);
        cursor: pointer;
        box-sizing: border-box;
        font-weight: 400;
    }

    .style-19 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-20 {
        text-decoration: underline solid rgb(121, 121, 121);
        background-color: rgba(0, 0, 0, 0);
        color: rgb(121, 121, 121);
        cursor: pointer;
        box-sizing: border-box;
        font-weight: 400;
    }

    .style-21 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-22 {
        text-decoration: underline solid rgb(121, 121, 121);
        background-color: rgba(0, 0, 0, 0);
        color: rgb(121, 121, 121);
        cursor: pointer;
        box-sizing: border-box;
        font-weight: 400;
    }

    .style-23 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-24 {
        text-decoration: underline solid rgb(121, 121, 121);
        background-color: rgba(0, 0, 0, 0);
        color: rgb(121, 121, 121);
        cursor: pointer;
        box-sizing: border-box;
        font-weight: 400;
    }

    .style-25 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-26 {
        text-decoration: underline solid rgb(121, 121, 121);
        background-color: rgba(0, 0, 0, 0);
        color: rgb(121, 121, 121);
        cursor: pointer;
        box-sizing: border-box;
        font-weight: 400;
    }

    .style-27 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-28 {
        text-decoration: underline solid rgb(121, 121, 121);
        background-color: rgba(0, 0, 0, 0);
        color: rgb(121, 121, 121);
        cursor: pointer;
        box-sizing: border-box;
        font-weight: 400;
    }

    .style-29 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-30 {
        text-decoration: underline solid rgb(121, 121, 121);
        background-color: rgba(0, 0, 0, 0);
        color: rgb(121, 121, 121);
        cursor: pointer;
        box-sizing: border-box;
        font-weight: 400;
    }

    .style-31 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-32 {
        text-decoration: underline solid rgb(121, 121, 121);
        background-color: rgba(0, 0, 0, 0);
        color: rgb(121, 121, 121);
        cursor: pointer;
        box-sizing: border-box;
        font-weight: 400;
    }

    .style-33 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-34 {
        text-decoration: underline solid rgb(121, 121, 121);
        background-color: rgba(0, 0, 0, 0);
        color: rgb(121, 121, 121);
        cursor: pointer;
        box-sizing: border-box;
        font-weight: 400;
    }

    .style-35 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-36 {
        text-decoration: underline solid rgb(121, 121, 121);
        background-color: rgba(0, 0, 0, 0);
        color: rgb(121, 121, 121);
        cursor: pointer;
        box-sizing: border-box;
        font-weight: 400;
    }

    .style-37 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-38 {
        text-decoration: underline solid rgb(121, 121, 121);
        background-color: rgba(0, 0, 0, 0);
        color: rgb(121, 121, 121);
        cursor: pointer;
        box-sizing: border-box;
        font-weight: 400;
    }

    .style-39 {
        margin: 0px 0px 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-40 {
        margin: 0px 0px 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-41 {
        list-style-type: disc;
        margin: 0px 0px 20px;
        padding: 0px 0px 0px 30px;
        box-sizing: border-box;
        margin-bottom: 20px;
        padding-left: 30px;
    }

    .style-42 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-43 {
        box-sizing: border-box;
        color: rgb(33, 33, 33);
    }

    .style-44 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-45 {
        box-sizing: border-box;
        color: rgb(33, 33, 33);
    }

    .style-46 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-47 {
        box-sizing: border-box;
        color: rgb(33, 33, 33);
    }

    .style-48 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-49 {
        box-sizing: border-box;
        color: rgb(33, 33, 33);
    }

    .style-50 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-51 {
        box-sizing: border-box;
        color: rgb(33, 33, 33);
    }

    .style-52 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-53 {
        box-sizing: border-box;
        color: rgb(33, 33, 33);
    }

    .style-54 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-55 {
        box-sizing: border-box;
        color: rgb(33, 33, 33);
    }

    .style-56 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-57 {
        box-sizing: border-box;
        color: rgb(33, 33, 33);
    }

    .style-58 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-59 {
        box-sizing: border-box;
        color: rgb(33, 33, 33);
    }

    .style-60 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-61 {
        box-sizing: border-box;
        color: rgb(33, 33, 33);
    }

    .style-62 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-63 {
        box-sizing: border-box;
        color: rgb(33, 33, 33);
    }

    .style-64 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-65 {
        box-sizing: border-box;
        color: rgb(33, 33, 33);
    }

    .style-66 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-67 {
        box-sizing: border-box;
        color: rgb(33, 33, 33);
    }

    .style-68 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-69 {
        box-sizing: border-box;
        color: rgb(33, 33, 33);
    }

    .style-700 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-710 {
        box-sizing: border-box;
        color: rgb(33, 33, 33);
    }

    .style-720 {
        margin: 0px 0px 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-730 {
        margin: 0px 0px 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-740 {
        list-style-type: disc;
        margin: 0px 0px 20px;
        padding: 0px 0px 0px 30px;
        box-sizing: border-box;
        margin-bottom: 20px;
        padding-left: 30px;
    }

    .style-750 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-760 {
        box-sizing: border-box;
        color: rgb(33, 33, 33);
    }

    .style-770 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-780 {
        box-sizing: border-box;
        color: rgb(33, 33, 33);
    }

    .style-790 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-800 {
        box-sizing: border-box;
        color: rgb(33, 33, 33);
    }

    .style-81 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-82 {
        box-sizing: border-box;
        color: rgb(33, 33, 33);
    }

    .style-83 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-84 {
        box-sizing: border-box;
        color: rgb(33, 33, 33);
    }

    .style-85 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-86 {
        box-sizing: border-box;
        color: rgb(33, 33, 33);
    }

    .style-87 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-88 {
        box-sizing: border-box;
        color: rgb(33, 33, 33);
    }

    .style-89 {
        margin: 0px 0px 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-90 {
        margin: 0px 0px 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-91 {
        margin: 0px 0px 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-92 {
        list-style-type: disc;
        margin: 0px 0px 20px;
        padding: 0px 0px 0px 30px;
        box-sizing: border-box;
        margin-bottom: 20px;
        padding-left: 30px;
    }

    .style-93 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-94 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-95 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-96 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-97 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-98 {
        text-decoration: underline solid rgb(121, 121, 121);
        background-color: rgba(0, 0, 0, 0);
        color: rgb(121, 121, 121);
        cursor: pointer;
        box-sizing: border-box;
        font-weight: 400;
    }

    .style-99 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-100 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-101 {
        margin: 0px 0px 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-102 {
        margin: 0px 0px 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-103 {
        margin: 0px 0px 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-104 {
        list-style-type: disc;
        margin: 0px 0px 20px;
        padding: 0px 0px 0px 30px;
        box-sizing: border-box;
        margin-bottom: 20px;
        padding-left: 30px;
    }

    .style-105 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-106 {
        box-sizing: border-box;
        color: rgb(33, 33, 33);
    }

    .style-107 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-108 {
        box-sizing: border-box;
        color: rgb(33, 33, 33);
    }

    .style-109 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-110 {
        box-sizing: border-box;
        color: rgb(33, 33, 33);
    }

    .style-1110 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-112 {
        box-sizing: border-box;
        color: rgb(33, 33, 33);
    }

    .style-113 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-114 {
        box-sizing: border-box;
        color: rgb(33, 33, 33);
    }

    .style-115 {
        text-decoration: underline solid rgb(121, 121, 121);
        background-color: rgba(0, 0, 0, 0);
        color: rgb(121, 121, 121);
        cursor: pointer;
        box-sizing: border-box;
        font-weight: 400;
    }

    .style-116 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-117 {
        box-sizing: border-box;
        color: rgb(33, 33, 33);
    }

    .style-118 {
        margin: 0px 0px 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-119 {
        margin: 0px 0px 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-120 {
        list-style-type: disc;
        margin: 0px 0px 20px;
        padding: 0px 0px 0px 30px;
        box-sizing: border-box;
        margin-bottom: 20px;
        padding-left: 30px;
    }

    .style-121 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-122 {
        margin: 0px 0px 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-123 {
        box-sizing: border-box;
        color: rgb(33, 33, 33);
    }

    .style-124 {
        text-decoration: underline solid rgb(121, 121, 121);
        background-color: rgba(0, 0, 0, 0);
        color: rgb(121, 121, 121);
        cursor: pointer;
        box-sizing: border-box;
        font-weight: 400;
    }

    .style-125 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-126 {
        margin: 0px 0px 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-127 {
        box-sizing: border-box;
        color: rgb(33, 33, 33);
    }

    .style-128 {
        text-decoration: underline solid rgb(121, 121, 121);
        background-color: rgba(0, 0, 0, 0);
        color: rgb(121, 121, 121);
        cursor: pointer;
        box-sizing: border-box;
        font-weight: 400;
    }

    .style-129 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-130 {
        margin: 0px 0px 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-131 {
        box-sizing: border-box;
        color: rgb(33, 33, 33);
    }

    .style-132 {
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-133 {
        margin: 0px 0px 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-134 {
        box-sizing: border-box;
        color: rgb(33, 33, 33);
    }

    .style-135 {
        text-decoration: underline solid rgb(121, 121, 121);
        background-color: rgba(0, 0, 0, 0);
        color: rgb(121, 121, 121);
        cursor: pointer;
        box-sizing: border-box;
        font-weight: 400;
    }

    .style-136 {
        margin: 0px 0px 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-137 {
        margin: 0px 0px 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-138 {
        margin: 0px 0px 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }

    .style-139 {
        margin: 0px 0px 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        max-width: 1496px;
    }